@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  #color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;    
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('GT_Pincer_beatle.jpg');
  background-size: cover;
  height: 800px;
}

.jumbotron h1 {
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}
